.btn-primary {
    background-color: #FFD166;
    border: none;
}

.btn-outline-primary {
    color: #af8585;
    border-color: #000000;
}

.dropdown-menu {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.form-label {
    font-weight: bold;
}

@media (max-width: 768px) {
    .dropdown-menu {
        width: 100% !important;
    }

    .row > .col-6 {
        width: 100%;
    }
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    height: 150px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
}

.card-text {
    color: #000000;
}

.pagination .page-link {
    color: #000000;
}

.pagination .page-link:hover {
    background-color: #FFD166;
    color: #ffffff;
}

