body {
    background-color: #e6ebf3d0;
}


.Logo {
    width: 30px;
}
.navbar {
    background-color: #4A90E2;
    padding: 1rem;
}

.navbar-brand {
    font-weight: bold;
    color: #ffffff;
}

.navbar-nav .nav-link {
    color: #ffffff;
    margin-right: 1rem;
}

.navbar-nav .nav-link.active {
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    padding: 0.3rem 0.8rem;
}

.navbar-nav .btn-warning {
    background-color: #FFD166;
    border: none;
}

.navbar-nav .btn-outline-secondary {
    color: #ffffff;
    border-color: #074881;
}

.btn-primary {
    background-color: #FFD166;
    border: none;
}

.btn-outline-primary {
    color: #af8585;
    border-color: #000000;
}

.dropdown-menu {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.form-label {
    font-weight: bold;
}

@media (max-width: 768px) {
    .dropdown-menu {
        width: 100% !important;
    }

    .row > .col-6 {
        width: 100%;
    }
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
}

.card-text {
    color: #000000;
}

.pagination .page-link {
    color: #000000;
}

.pagination .page-link:hover {
    background-color: #FFD166;
    color: #ffffff;
}


.profile-header {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}
.profile-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 30px;
}
.profile-details h3 {
    margin-bottom: 5px;
}
.profile-details p {
    margin: 5px 0;
    color: #777;
}
.profile-details .stats {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.profile-details .stats .stat-item {
    text-align: center;
}
.profile-details .stats .stat-item h4 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
.profile-details .stats .stat-item p {
    margin: 0;
    color: #555;
}
.profile-content {
    margin-top: 30px;
}
.profile-content h4 {
    margin-bottom: 20px;
}
.profile-content .content-item {
    margin-bottom: 30px;
}
.profile-content .content-item img,
.profile-content .content-item iframe {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
.profile-content .content-item h5 {
    margin-bottom: 5px;
}
.profile-content .content-item p {
    color: #777;
}
