
.card {
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-header {
    background-color: #ffffff;
    font-weight: bold;
}

.list-group-item {
    background-color: #ffffff;
    border: none;
    padding: 15px;
}

.list-group-item span {
    font-weight: bold;
}

.list-group-item p {
    font-size: 0.9rem;
    color: #888;
}

.card-body {
    background-color: #ffffff;
}

.btn-warning {
    color: #ffffff;
}

.container {
    max-width: 1000px;
}
