body {
    background-color: #e6ebf3d0;
}

.logo {
    width: 30px;
}
.navbar {
    background-color: #4a90e2;
    padding: 1rem;
}

.navbar-brand {
    font-weight: medium;
    color: #ffffff;
}

.navbar-nav .nav-link {
    color: #ffffff;
    margin-right: 1rem;
}

.navbar-nav .nav-link.active {
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    padding: 0.3rem 0.8rem;
}

.navbar-nav .btn-warning {
    background-color: #FFD166;
    border: none;
}

.navbar-nav .btn-outline-secondary {
    color: #ffffff;
    border-color: #074881;
}


