body {
    background-color: #e6ebf3d0;
}

.logo {
    width: 30px;
}
.navbar {
    background-color: #4c96eb;
    padding: 1rem;
}

.navbar-brand {
    font-weight: medium;
    color: #ffffff;
}

.navbar-nav .nav-link {
    color: #ffffff;
    margin-right: 1rem;
}

.navbar-nav .nav-link.active {
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    padding: 0.3rem 0.8rem;
}

.navbar-nav .btn-warning {
    background-color: #FFD166;
    border: none;
}

.navbar-nav .btn-outline-secondary {
    color: #ffffff;
    border-color: #074881;
}

.btn-primary {
    background-color: #FFD166;
    border: none;
}

.btn-outline-primary {
    color: #af8585;
    border-color: #000000;
}

.dropdown-menu {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.form-label {
    font-weight: medium;
}

@media (max-width: 768px) {
    .dropdown-menu {
        width: 100% !important;
    }

    .row > .col-6 {
        width: 100%;
    }
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: medium;
    color: #000000;
}

.card-text {
    color: #000000;
}

.pagination .page-link {
    color: #000000;
}

.pagination .page-link:hover {
    background-color: #FFD166;
    color: #ffffff;
}

.video-thumbnail {
    position: relative;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #ff0000; /* Warna merah seperti YouTube */
    border-radius: 50%;
    padding: 10px;
}

.video-thumbnail img {
    width: 100%;
    height: auto;
}
